.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 345px;

  @media (max-width: 1100px) {
    min-height: initial;
    padding: 30px 10px;
  }

  .title {
    z-index: 2;
    text-align: center;
    font-size: 101.25px;
    font-weight: 900;
    line-height: 111.375px;
    color: #202329;

    @media (max-width: 1100px) {
      line-height: normal;
      font-size: 70.25px;
    }

    @media (max-width: 575px) {
      font-size: 35.25px;
    }
  }

  .image {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
