.card {
  display: flex;
  max-width: 600px;
  width: 100%;
  border-radius: 9px;
  background: #3c3e44;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1);

  @media (max-width: 490px) {
    max-width: 300px;
    flex-direction: column;
  }

  &__image {
    max-width: 230px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;

    @media (max-width: 490px) {
      max-width: initial;
      border-top-right-radius: 9px;
      border-bottom-left-radius: 0;
    }
  }

  &__wrap {
    width: 100%;
    padding: 14px;
  }

  &__title {
    color: #f5f5f5;
    font-size: 27px;
    font-weight: 800;
    line-height: 29.7px;
  }

  &__status {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
  }

  &__indicator {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .green {
    background-color: #55cc44;
  }
  .red {
    background-color: #d63d2e;
  }
  .grey {
    background-color: #9e9e9e;
  }

  &__subtitle {
    color: #9e9e9e;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
  }

  &__text {
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.25px;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}
