.button {
  z-index: 9;
  display: inline-flex;
  justify-content: center;
  position: relative;
  width: 100%;
  min-width: 140px;
  max-width: 170px;
  margin: 20px 0px;
  padding: 17px 0;
  border-radius: 4px;
  color: #272b33;
  background: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
