.inner {
  position: relative;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

.characters__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
